In [3]:
import pandas as pd

fileName = "data/07311200.csv"
df = pd.read_csv(fileName)

In [4]:
# Display shape
print("Shape:", df.shape)

print(df.head())

df.info()

Shape: (44, 34)
                                      name  \
0                              EFG BANK AG
1  BANC OF AMERICA SECURITIES ASIA LIMITED
2                     AIRSTAR BANK LIMITED
3                       WELAB BANK LIMITED
4        WOORI GLOBAL MARKETS ASIA LIMITED

                                       local_address  \
0  LEVEL 18, INTERNATIONAL COMMERCE CENTRE, 1 AUS...
1  52/F, CHEUNG KONG CENTER, 2 QUEEN'S ROAD CENTR...
2  SUITES 3201-07, 32/F, TOWER 5, THE GATEWAY, HA...
3  23/F, K11 ATELIER KING'S ROAD, 728 KING'S ROAD...
4  ROOMS 1907-1909, 19/F, GLOUCESTER TOWER, THE L...

                          principle_address                     type  \
0  BLEICHERWEG 8, 8001 ZURICH, SWITZERLAND.            Licensed Bank
1                                       NaN  Restricted Licence Bank
2                                       NaN            Licensed Bank
3                                       NaN            Licensed Bank
4                                       NaN   Deposit-taking Company

                                    secstaff_reg_url   latitude   longitude  \
0  http://apps.hkma.gov.hk/eng/index.php?c=search...  22.305246  114.161409
1  http://apps.hkma.gov.hk/eng/index.php?c=search...  22.279795  114.160542
2  http://apps.hkma.gov.hk/eng/index.php?c=search...  22.297994  114.167979
3  http://apps.hkma.gov.hk/eng/index.php?c=search...  22.291708  114.207509
4  http://apps.hkma.gov.hk/eng/index.php?c=search...  22.280543  114.157903

   isPenalty  year  Multiplier  ... adj_incomeMillion adj_expensesPrevMillion  \
0          1  2023    8.840000  ...      12647.388000             8619.000000
1          0  2023    0.128205  ...          6.907564                6.204744
2          0  2023    1.000000  ...         44.843000              230.002000
3          0  2023    1.000000  ...         66.000000              465.000000
4          0  2023    7.800000  ...         52.251178                2.933650

  adj_expensesMillion prev_percent_asset_capital  percent_asset_capital  \
0         9351.836000                   0.039080               0.046632
1           15.248846                   0.169879               0.852930
2          239.352000                   0.285007               0.239740
3          332.000000                   0.186741               0.122019
4            1.808508                   0.268041               0.244893

  assetsPrecentChange liabilitiesPrecentChange incomePercentChange  \
0           -0.112644                -0.119617            0.126535
1           -0.973550                -0.995314            1.023168
2           -0.125863                -0.070520           -0.308874
3            0.399653                 0.511042            0.500000
4            0.176772                 0.213986            1.000716

  expensesPercentChange  profitPercentChange
0              0.085026             0.263729
1              1.457611             1.989157
2              0.040652             0.178000
3             -0.286022            -0.368171
4             -0.383530             1.175887

[5 rows x 34 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        44 non-null     object
 1   local_address               40 non-null     object
 2   principle_address           27 non-null     object
 3   type                        40 non-null     object
 4   secstaff_reg_url            32 non-null     object
 5   latitude                    44 non-null     float64
 6   longitude                   44 non-null     float64
 7   isPenalty                   44 non-null     int64
 8   year                        44 non-null     int64
 9   Multiplier                  44 non-null     float64
 10  assetsPrevMillion           44 non-null     object
 11  assetsMillion               44 non-null     object
 12  liabilitiesPrevMillion      44 non-null     object
 13  liabilitiesMillion          44 non-null     object
 14  establishmentYear           44 non-null     int64
 15  incomePrevMillion           44 non-null     object
 16  incomeMillion               44 non-null     object
 17  expensesPrevMillion         44 non-null     object
 18  expensesMillion             44 non-null     object
 19  adj_assetsPrevMillion       44 non-null     float64
 20  adj_assetsMillion           44 non-null     float64
 21  adj_liabilitiesPrevMillion  44 non-null     float64
 22  adj_liabilitiesMillion      44 non-null     float64
 23  adj_incomePrevMillion       44 non-null     float64
 24  adj_incomeMillion           44 non-null     float64
 25  adj_expensesPrevMillion     44 non-null     float64
 26  adj_expensesMillion         44 non-null     float64
 27  prev_percent_asset_capital  44 non-null     float64
 28  percent_asset_capital       44 non-null     float64
 29  assetsPrecentChange         44 non-null     float64
 30  liabilitiesPrecentChange    44 non-null     float64
 31  incomePercentChange         44 non-null     float64
 32  expensesPercentChange       44 non-null     float64
 33  profitPercentChange         44 non-null     float64
dtypes: float64(18), int64(3), object(13)
memory usage: 11.8+ KB

In [6]:
df.describe()

,latitude,longitude,isPenalty,year,Multiplier,establishmentYear,adj_assetsPrevMillion,adj_assetsMillion,adj_liabilitiesPrevMillion,adj_liabilitiesMillion,...,adj_incomeMillion,adj_expensesPrevMillion,adj_expensesMillion,prev_percent_asset_capital,percent_asset_capital,assetsPrecentChange,liabilitiesPrecentChange,incomePercentChange,expensesPercentChange,profitPercentChange
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,4.400000e+01,4.400000e+01,4.400000e+01,4.400000e+01,...,4.400000e+01,4.400000e+01,4.400000e+01,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,22.284505,114.161880,0.340909,2022.181818,8.550319,1959.136364,3.280113e+07,3.511982e+07,2.991618e+07,3.237365e+07,...,2.256693e+08,1.160710e+08,1.226722e+08,0.150939,0.161038,0.027757,0.031199,0.486583,18.007194,-332.232096
std,0.009613,0.010260,0.479495,1.833445,35.897566,55.451463,1.208762e+08,1.329866e+08,1.117446e+08,1.234825e+08,...,1.494249e+09,7.683768e+08,8.120538e+08,0.203120,0.234928,0.200740,0.211152,1.906026,118.974761,2204.105383
min,22.260778,114.130003,0.000000,2015.000000,0.000008,1799.000000,3.845400e+02,1.141962e+01,1.328000e+01,1.679487e+00,...,6.907564e+00,2.933650e+00,1.808508e+00,0.000000,-0.089922,-0.973550,-0.995314,-0.383941,-0.998667,-14620.331260
25%,22.279862,114.157914,0.000000,2022.000000,0.230000,1942.250000,8.254237e+04,8.588916e+04,3.166641e+04,3.186287e+04,...,1.672205e+03,2.600258e+03,2.778425e+03,0.055546,0.050606,-0.021403,-0.057745,-0.023201,-0.050298,-0.159029
50%,22.282154,114.160122,0.000000,2023.000000,1.000000,1977.000000,5.377806e+05,5.532117e+05,4.990306e+05,5.165362e+05,...,1.451264e+04,8.423801e+03,9.331918e+03,0.089200,0.086281,0.048964,0.044027,0.042401,0.053333,0.012274
75%,22.285126,114.164029,1.000000,2023.000000,7.800000,1996.250000,8.810431e+06,9.301657e+06,7.913329e+06,7.980577e+06,...,2.182749e+05,2.183738e+05,1.625745e+05,0.157164,0.151499,0.108294,0.113388,0.170577,0.158993,0.246901
max,22.320140,114.207509,1.000000,2024.000000,240.000000,2020.000000,7.257600e+08,8.083200e+08,6.772800e+08,7.579200e+08,...,9.912129e+09,5.097068e+09,5.386804e+09,0.999939,0.999938,0.414809,0.511042,10.366996,789.255909,1.989157

In [30]:
sb = MlSandbox("housing.csv", 
               numerical=["ZN","INDUS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT","UNK"], 
               numerical_log=[], 
               one_hot=["CHAS"], 
               boolean=[], 
               objective="CRIM", 
               objective_type="regression")

In [37]:
sb.linearRegression(random_state=60)

Mean Squared Error: 23.80